body {
    direction: rtl;
    text-align:right;
    background-image: url("../images/potLuck2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.margin-control {
    margin: 50px auto;
}