body {
    direction: rtl;
    text-align:right;
    background-image: url("../images/potLuck2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

dd {
    margin-right: 0;
}

figure {
    margin: 0 0 1rem;
}

caption {
    text-align: right;
}

th {
    text-align: right;
}

.list-unstyled {
    padding-right: 0;
}

.list-inline {
    padding-right: 0;
}